<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: slategray">
        <a class="navbar-brand text-white" href="@Url.Action("Index", "Home")">Veterinaria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Principal")">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About", "Home")">Acerca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact", "Home")">Contacto</a>
                </li>

                @if (User.IsInRole("Admin"))
                {
                    //Usuarios
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Users")">Usuarios</a>
                    </li>
                    //Medicos
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Veterinary")">Medico</a>
                    </li>
                }

                @if (User.IsInRole("Veterinary") || User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Consults")">Consultas</a>
                    </li>
                }


                @if (User.IsInRole("Owner"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Pets")">Mascotas</a>
                    </li>

                }

                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AllPets", "Pets")">Mascotas</a>
                    </li>

                }
            </ul>

            <span class="navbar-text">
                @Html.Partial("_LoginPartial")
            </span>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Veterinaria - Roberto Bernal Arellano</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
