@model Veterinaria.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="card text-white bg-primary mb-3" style="max-width: 40rem; margin-left:20%; margin-top:50px">
        <h4 style="font-weight: bolder; text-align:center; margin-bottom:-5px">Cree una cuenta nueva.</h4>
        <hr />
        <div class="card-body text-black-50" style="background-color: white; font-weight:bold; padding-left:35px">

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-6 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-6 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-6 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-outline-primary" value="Registrarse" />
                    <a href="@Url.Action("Index", "Home")" class="btn btn-danger">Cancelar</a>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
